# Fichiers et dossiers Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environnement virtuel
env/
venv/
ENV/
.venv/
.env/

# Fichiers de configuration/d'environnement
*.env
*.env.*

# Fichiers de base de données SQLite
*.sqlite3
db.sqlite3

# Dossiers de logs
*.log
logs/

# Dossiers de cache
.cache/
*.cache

# Dossiers de l'IDE
.vscode/
.idea/

# Fichiers générés par Django
staticfiles/
static/
media/

# Fichiers de migration
*/migrations/__pycache__/
*/migrations/*.pyc

# Docker
*.pid

# Autres
.DS_Store
Thumbs.db
