{% extends "base.html" %}
{% block content %}
<h1>Inscription</h1>
<form method="post" novalidate>
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div>
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.username.errors }}
  </div>
  <div>
    {{ form.email.label_tag }}
    {{ form.email }}
    {{ form.email.errors }}
  </div>
  <div>
    {{ form.password1.label_tag }}
    {{ form.password1 }}
    {{ form.password1.errors }}
  </div>
  <div>
    {{ form.password2.label_tag }}
    {{ form.password2 }}
    {{ form.password2.errors }}
  </div>
  <div>
    {{ form.accept_cgu }} {{ form.accept_cgu.label_tag }}
    {{ form.accept_cgu.errors }}
  </div>
  <button type="submit">S'inscrire</button>
  <p>Déjà un compte ? <a href="/login/">Se connecter</a></p>
  <p>Note: Les messages d'erreur sont génériques pour éviter l'enumération.</p>
  <p>Essayer un XSS ici n'affichera pas de script car les templates échappent le HTML.</p>
  <input type="text" name="website" style="display:none" tabindex="-1" autocomplete="off" />
</form>
{% endblock %}


